body {
    margin: 0;
    overflow: hidden; /* fullscreen no scroll */
    background: #000;
    font-family: Arial, sans-serif;
    color: #fff;
}

#stopBtn {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 20;

    padding: 10px 20px;
    background: #444;
    border: 1px solid #888;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#stopBtn:hover {
    background: #666;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    touch-action: none; /* important for phones */
}
